services:
  knowledge_base_ann:
    platform: linux/amd64
    image: khaleedm/knowledgebase_examscore:latest
    volumes:
       - ai_system:/tmp
    command:
    - sh
    - "-c"
    - "rm -rf /tmp/knowledgeBase/ && mkdir -p /tmp/knowledgeBase/ && cp -r /tmp/knowledgeBase/ /tmp/;"

  activation_base_ann:
    platform: linux/amd64
    image: khaleedm/activationbase_examscoreprediction:latest
    volumes:
       - ai_system:/tmp
    command:
    - sh -c "rm -rf /tmp/activationBase/ && mkdir -p /tmp/activationBase/ && cp -r /tmp/activationBase/ /tmp/;"


  code_base_ann:
    platform: linux/amd64
    image: khaleedm/codebase_examscoreprediction:latest
    volumes:
       - ai_system:/tmp
    depends_on:
      - "knowledge_base_ann"
      - "activation_base_ann"
    command:
    - sh
    - "-c"
    - |
      pip install pandas tensorflow
      python3 /tmp/codeBase/apply_ann.py

volumes:
  ai_system:
    external: false