services:
  knowledge:
    platform: linux/amd64
    image: khaleedm/knowledgebase_examscoreprediction
    volumes:
      - ai_system:/tmp

  activation:
    platform: linux/amd64
    image: khaleedm/activationbase_examscoreprediction
    volumes:
      - ai_system:/tmp

  code:
    platform: linux/amd64
    image: khaleedm/codebase_examscoreprediction
    volumes:
      - ai_system:/tmp
    depends_on:
      - knowledge
      - activation
    command: python3 /app/apply_ols.py
    environment:
      - PYTHONUNBUFFERED=1

volumes:
  ai_system:
    external: true